<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img src="assets/images/logo.png" alt="Meal Planner">
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="5" *ngFor="let day of days">
        <section class="day">
          <div class="header">
            <h2>{{day}}</h2>
            <ion-button (click)="addMeal(day)">+</ion-button>
          </div>
          <ion-card class="meal-card" *ngFor="let meal of meals[day]; let i = index">
            <ion-card-header>
              <ion-card-subtitle>{{meal.category}}</ion-card-subtitle>
              <ion-card-title>{{meal.name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{meal.description}}
            </ion-card-content>
            <ion-button color="danger" (click)="deleteMeal(day, i)" class="delete-btn" *ngIf="meals[day] && meals[day].length > 0">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-card>        
        </section>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>





