<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="homepage">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="meals-info">
      <ion-icon aria-hidden="true" name="restaurant"></ion-icon>
      <ion-label>Meal</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>settings</ion-label>
    </ion-tab-button>
  
  </ion-tab-bar>

</ion-tabs>
